<div class="container d-flex justify-content-center middle">
  <div class="card" style="width: 30rem; box-shadow: 10px 10px 10px 10px grey; margin-top: 30px;">
      <div class="card-header">
          Moc
      </div>
      <div class="card-body">
        <label>Megawat</label>
        <input type="text" class="form-control" id="megawatt" name="megawatt" [(ngModel)]="megawatt" #mega="ngModel" (input)="changeMegawatt($event)" [value]="megawatt"
        placeholder="MW" onkeypress="return event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
        pattern="^[0-9]+[\\.]?[0-9]*[e]?[-+]?[0-9]*$">
        <div class="error" *ngIf="mega.errors">Wprowadź poprawną liczbę!</div><br>

        <label>Kilowat</label>
        <input type="text" class="form-control" id="kilowatt" name="kilowatt" [(ngModel)]="kilowatt" #kilo="ngModel" (input)="changeKilowatt($event)" [value]="kilowatt"
        placeholder="kW" onkeypress="return event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
        pattern="^[0-9]+[\\.]?[0-9]*[e]?[-+]?[0-9]*$">
        <div class="error" *ngIf="kilo.errors">Wprowadź poprawną liczbę!</div><br>

        <label>Wat</label>
        <input type="text" class="form-control" id="watt" name="watt" [(ngModel)]="watt" #wat="ngModel" (input)="changeWatt($event)" [value]="watt"
        placeholder="W" onkeypress="return event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
        pattern="^[0-9]+[\\.]?[0-9]*[e]?[-+]?[0-9]*$">
        <div class="error" *ngIf="wat.errors">Wprowadź poprawną liczbę!</div><br>

        <label>Miliwat</label>
        <input type="text" class="form-control" id="milliwatt" name="milliwatt" [(ngModel)]="milliwatt" #mw="ngModel" (input)="changeMilliwatt($event)" [value]="milliwatt"
        placeholder="mW" onkeypress="return event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
        pattern="^[0-9]+[\\.]?[0-9]*[e]?[-+]?[0-9]*$">
        <div class="error" *ngIf="mw.errors">Wprowadź poprawną liczbę!</div><br>

        <label>Koń mechaniczny</label>
        <input type="text" class="form-control" id="horsepower" name="horsepower" [(ngModel)]="horsepower" #hp="ngModel" (input)="changeHorsepower($event)"
        [value]="horsepower" placeholder="hp" onkeypress="return event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
        pattern="^[0-9]+[\\.]?[0-9]*[e]?[-+]?[0-9]*$">
        <div class="error" *ngIf="hp.errors">Wprowadź poprawną liczbę!</div><br>
      </div>
  </div>
</div>
