<div class="container d-flex justify-content-center middle">
  <div class="card" style="width: 30rem; box-shadow: 10px 10px 10px 10px grey; margin-top: 30px;">
      <div class="card-header">
          Przyśpieszenie
      </div>
      <div class="card-body">
        <label>Przyśpieszenie ziemskie (grawitacja)</label>
        <input type="text" class="form-control" id="gravitation" name="gravitation" [(ngModel)]="gravitation" #gra="ngModel" (input)="changeGravitation($event)"
        [value]="gravitation" placeholder="g0" onkeypress="return event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
        pattern="^[0-9]+[\\.]?[0-9]*[e]?[-+]?[0-9]*$">
        <div class="error" *ngIf="gra.errors">Wprowadź poprawną liczbę!</div><br>

        <label>Metr na sekundę<sup>2</sup></label>
        <input type="text" class="form-control" id="metterSecondSquere" name="metterSecondSquere" [(ngModel)]="metterSecondSquere" #msq="ngModel" (input)="changeMetterSecondSquere($event)"
        [value]="metterSecondSquere" placeholder="m/s^2" onkeypress="return event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
        pattern="^[0-9]+[\\.]?[0-9]*[e]?[-+]?[0-9]*$">
        <div class="error" *ngIf="msq.errors">Wprowadź poprawną liczbę!</div><br>

        <label>Stopa na sekundę<sup>2</sup></label>
        <input type="text" class="form-control" id="footSecondSquere" name="footSecondSquere" [(ngModel)]="footSecondSquere" #ftsq="ngModel" (input)="changeFootSecondSquere($event)"
        [value]="footSecondSquere" placeholder="ft/s^2" onkeypress="return event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
        pattern="^[0-9]+[\\.]?[0-9]*[e]?[-+]?[0-9]*$">
        <div class="error" *ngIf="ftsq.errors">Wprowadź poprawną liczbę!</div><br>

        <label>Galon</label>
        <input type="text" class="form-control" id="gallon" name="gallon" [(ngModel)]="gallon" #gall="ngModel" (input)="changeGallon($event)"
        [value]="gallon" placeholder="cm/s^2" onkeypress="return event.charCode == 46 || event.charCode >= 48 && event.charCode <= 57"
        pattern="^[0-9]+[\\.]?[0-9]*[e]?[-+]?[0-9]*$">
        <div class="error" *ngIf="gall.errors">Wprowadź poprawną liczbę!</div><br>
      </div>
  </div>
</div>
