<div class="container d-flex justify-content-center middle">
    <div class="card" style="width: 30rem; box-shadow: 10px 10px 10px 10px grey; margin-top: 30px;">
        <div class="card-header">
            Cyfry rzymskie
        </div>
        <div class="card-body">
            <label>Liczba arabska</label>
            <input type="number" class="form-control" min="1" max="3999" id="arabic" name="arabic" [(ngModel)]="arabic" #ara="ngModel" (input)="changeArabic($event)" [value]="arabic"
            placeholder="Liczba arabska" onkeypress="return event.charCode >= 48 && event.charCode <= 57" >
            <div class="error" *ngIf="ara.errors">Wprowadź poprawną liczbę!</div><br>

            <label>Liczba rzymska</label>
            <input type="text" class="form-control" id="roman" name="roman" [(ngModel)]="roman" #rom="ngModel" (input)="changeRoman($event)" [value]="roman"
            placeholder="Liczba rzymska" onkeypress="return event.charCode == 67 || event.charCode == 68
            || event.charCode == 73 || event.charCode == 76 || event.charCode == 77 || event.charCode == 86 || event.charCode == 88">
            <div class="error" *ngIf="rom.errors">Wprowadź poprawną liczbę!</div>
            <div>{{error}}</div><br>
        </div>
    </div>
</div>

