<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="home" routerLinkActive="active">Konwerter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Strona główna</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Kowertery
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" id="pressure" routerLink="pressure" routerLinkActive="active-router">Ciśnienie</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="roman-numerals" routerLink="roman-numerals" routerLinkActive="active-router">Liczby arabskie i rzymskie</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="time" routerLink="time" routerLinkActive="active-router">Czas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="length" routerLink="length" routerLinkActive="active-router">Długość</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="energy" routerLink="energy" routerLinkActive="active-router">Energia</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="mass" routerLink="mass" routerLinkActive="active-router">Masa</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="power" routerLink="power" routerLinkActive="active-router">Moc</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="digital-memory" routerLink="digital-memory" routerLinkActive="active-router">Pamięć cyfrowa</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="speed" routerLink="speed" routerLinkActive="active-router">Prędkość</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="data-transfer-rate" routerLink="data-transfer-rate" routerLinkActive="active-router">Prędkość przesyłu danych</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="acceleration" routerLink="acceleration" routerLinkActive="active-router">Przyśpieszenie</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="force" routerLink="force" routerLinkActive="active-router">Siła</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="number-systems" routerLink="number-systems" routerLinkActive="active-router">Systemy liczbowe</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" id="temperature" routerLink="temperature" routerLinkActive="active-router">Temperatura</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<div class="footer bg-dark text-white">
  Autor: Mateusz Brodziak (matousb96@gmail.com)<br>
  Copyright &copy; 2019 Dziękuję za wizytę!
</div>


