<div class="container middle">
  <h2 class="d-flex justify-content-center rowOne">KONWERTERY</h2>
  <h5 class="headerMeeting">Świetnie jest mi Ciebie powitać!
    Zapraszam Cię do skorzystania z poniższych konwerterów:</h5>

  <div class="d-flex row justify-content-center">

    <a class="nav-link" routerLink="/pressure" routerLinkActive="active">
      <div class="image">
        <div class="typeImage">
          <img src="/assets/pressure.jpg">
        </div>
        <p>jednostek ciśnienia</p>
      </div>
    </a>

    <a class="nav-link" routerLink="/roman-numerals" routerLinkActive="active">
      <div class="image">
        <div class="typeImage">
          <img src="/assets/roman_numerals.jpg">
        </div>
        <p id="small">liczb arabskich na rzymskie i odwrotnie</p>
      </div>
    </a>

    <a class="nav-link" routerLink="/time" routerLinkActive="active">
      <div class="image">
        <div class="typeImage">
          <img src="/assets/time.jpg">
        </div>
        <p>jednostek czasu</p>
      </div>
    </a>


    <a class="nav-link" routerLink="/length" routerLinkActive="active">
      <div class="image">
        <div class="typeImage">
          <img src="/assets/length.jpg">
        </div>
        <p>jednostek długości</p>
      </div>
    </a>

    <a class="nav-link" routerLink="/energy" routerLinkActive="active">
      <div class="image">
        <div class="typeImage">
          <img src="/assets/energy.jpg">
        </div>
        <p>jednostek energii</p>
      </div>
    </a>

    <a class="nav-link" routerLink="/mass" routerLinkActive="active">
      <div class="image">
        <div class="typeImage">
          <img src="/assets/mass.jpg">
        </div>
        <p>jednostek masy</p>
      </div>
    </a>


    <a class="nav-link" routerLink="/power" routerLinkActive="active">
      <div class="image">
        <div class="typeImage">
          <img src="/assets/power.jpg">
        </div>
        <p>jednostek mocy</p>
      </div>
    </a>

    <a class="nav-link" routerLink="/digital-memory" routerLinkActive="active">
      <div class="image">
        <div class="typeImage">
          <img src="/assets/digital_memory.jpg">
        </div>
        <p>jednostek pamięci cyfrowej</p>
      </div>
    </a>

    <a class="nav-link" routerLink="/speed" routerLinkActive="active">
      <div class="image">
        <div class="typeImage">
          <img src="/assets/speed.jpg">
        </div>
        <p>jednostek prędkości</p>
      </div>
    </a>


    <a class="nav-link" routerLink="/data-transfer-rate" routerLinkActive="active">
      <div class="image">
        <div class="typeImage">
          <img src="/assets/data_transfer_rate.jpg">
        </div>
        <p id="small">jednostek prędkości przysyłu danych</p>
      </div>
    </a>

    <a class="nav-link" routerLink="/acceleration" routerLinkActive="active">
      <div class="image">
        <div class="typeImage">
          <img src="/assets/acceleration.jpg">
        </div>
        <p>jednostek przyśpieszenia</p>
      </div>
    </a>

    <a class="nav-link" routerLink="/force" routerLinkActive="active">
      <div class="image">
        <div class="typeImage">
          <img src="/assets/force.jpg">
        </div>
        <p>jednostek siły</p>
      </div>
    </a>

    <a class="nav-link" routerLink="/number-systems" routerLinkActive="active">
      <div class="image">
        <div class="typeImage">
          <img src="/assets/number_systems.jpg">
        </div>
        <p>systemów liczbowych</p>
      </div>
    </a>

    <a class="nav-link" routerLink="/temperature" routerLinkActive="active">
      <div class="image">
        <div class="typeImage">
          <img src="/assets/temperature.jpg">
        </div>
        <p>jednostek temperatury</p>
      </div>
    </a>
  </div>
</div>

